h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    color: black
}
.titlebutton{
    background-color: #d3a15f;
    text-align: center;
    padding: 15px 32px;
    font-size: 16px;
}
body{
    text-align: center;
    background-image: url("https://previews.123rf.com/images/andreykuzmin/andreykuzmin1509/andreykuzmin150900005/70605382-aged-treasure-map-illustration-background.jpg");
}