h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    color: black
}
.titlebutton{
    background-color: white;
    text-align: center;
    padding: 15px 32px;
    font-size: 16px;
}
body{
    text-align: center;
    background-image: url("http://www.bruna.cat/imgdownload/full/56/563570/pirate-map-wallpaper.jpg");
}
div{
    font-size: 20px;
}
.otherbuttons{
    font-size: 16px;
    padding: 15px 32px;
}